<h1 class="title">Login</h1>
<div class="login">
  <p id="login-fail" class="alert display-none">Login not successful.</p>
  <p>Username: </p>
  <input id="login-name" type="text" name="login-name">
  <p>Password: </p>
  <input id="login-password" type="password" name="login-password">
  <br>
  <br>
  <input id="login-button" type="submit" name="login-button" value="LOGIN">
</div>