/*General style*/
body {
  font-family: monospace;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.sidebar img.active {
  border: 3px solid red;
  width: 34px;
  height: 34px;
}

.sidebar-user--active {
  background-color: wheat;
}

.display-none {
  display: none;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*Login screen*/
.login {
  text-align: center;
}

.title {
  text-align: center;
}

#login-password {
  position: relative;
  left: 3px;
}

/*Sidebar*/
.sidebar {
  width: 29%;
  display: inline-block;
  position: fixed;
  border-right: 1px solid black;
  top: 0;
  bottom: 0;
  padding-top: 8px;
  overflow-y: scroll;
}

.sidebar img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.sidebar p {
  width: 69px;
}

.sidebar-user {
  height: 40px;
  width: 40px;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 8px;
}

.sidebar-name {
  width: 56px;
  display: inline-block;
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
  }

.sidebar-name span {
  max-width: 50px;
  display: inline-block;
  padding-top: 5px;
  font-size: 10px;
}

/*Header*/
.header {
  height: 55px;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  border-bottom: 1px solid black;
}

.header-logout {
  background-color: red;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  float: right;
  margin-top: 21px;
  cursor: pointer;
}

.header-name {
  position: relative;
  top: -3px;
  max-width: 220px;
  display: inline-block;
  max-height: 22px;
  overflow: hidden;
}

/*Main*/
.main {
  width: 69%;
  display: inline-block;
  left: 31%;
  position: fixed;
}

.main-text {
  position: fixed;
  bottom: 10px;
  left: 33%;
  bottom: 10px;
}

.main-text input {
  height: 42px;
  width: 74%;
  padding-left: 2%;
}

.main-submit {
  background-image: url(../imgs/mail.svg);
  width: 18%;
  height: 7px;
  height: 36px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 9px;
}

.main-message {
  width: 81%;
  max-width: 81%;
  min-height: 15px;
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
}

.main-message--other {
  background-color: #d6f789;
}

.main-chat {
  overflow-y: scroll;
  height: 495px;
}

.main-chat-outer {
  height: 1000000px;
  overflow: hidden;
}

.main-name {
  text-align: center;
}

.main-date {
  padding-left: 20px;
  font-size: 11px;
  margin-top: 25px;
  margin-bottom: 0;
  color: green;
}

.main-date {
  padding-left: 20px;
  margin: 0;
}

.main-author {
  padding-left: 20px;
  margin: 0;
}