<div class="main-chat-outer">
    <div id="main-chat" class="main-chat">
        <% _.each(messages, function(message) {
        %>
            <p class="main-date"><%= message["post_date"] %></p>
            <p class="main-author"><%= message["author_name"] %></p>
        <%
            if(message["author_status"]=='current') {
        %>
            <div class="main-message">
        <%
            } else {
        %>
            <div class="main-message main-message--other">
        <%
        }
        %>
              <%= message["post_content"] %>
            </div>
        <% }); %>
    </div>
</div>