<div id="sidebar" class="sidebar">
</div>

<div class="main">
  <div id="main-header">
  </div>

  <div id="main-chat-container">
    <div id="main-chat-inner">
      
    </div>
    <div id="main-text" class="main-text">
      <input id="main-text" name="main-text"> 
      </input>
      <button id="main-submit" class="main-submit"></button>
    </div>
  </div>
</div>